.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color: $color-black, $alpha: 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.25);
        transition: all 0.5s 0.2s;

        @include respond(tab-port) {
            text-align: center;
        }
    }

    &__left {
        width: 33.3333333%;
        display: table-cell;

        @include respond(tab-port) {
            width: 100%;
            display: flex;
            height: min-content;
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            width: 100%;
            display: table-row;

            & * {
                padding: 0 1rem;
            }

            & .btn {
                margin-bottom: 1rem;
            }
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-port) {
            display: table-cell;
            width: 100%;
            background-size: cover;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; // default 1em = 14px (same as font-size)
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-count: 2;
        column-gap: 4rem; // default 1em = 14px (same as font-size)
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include respond(tab-port) {
            text-align: left;
            margin-bottom: 2rem;
        }
    }

    // Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
            line-height: 1;

            @include respond(tab-port) {
                top: 0.5rem;
                right: 1.5rem;
            }
        }

        &:hover {
            color: $color-primary;
        }
    }
}
